<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="agv">

    <xacro:include filename="$(find agv_description)/urdf/inertial.xacro"/>
    <xacro:include filename="$(find agv_description)/urdf/materials.xacro"/>

    <xacro:include filename="$(find agv_description)/urdf/body.xacro" />
    <xacro:include filename="$(find agv_description)/urdf/lidar.xacro" />

    <xacro:include filename="ros2_control.xacro" />
    
</robot>